In [5]:
import pandas as pd

# Load the datasets from CSV files
employees = pd.read_csv(r"C:\Users\ACER\Downloads\file1.csv")  # Make sure the file is in the same directory
projects = pd.read_csv(r"C:\Users\ACER\Downloads\file2.csv")

# INNER JOIN (Only matching Employee_IDs)
inner_join = pd.merge(employees, projects, on="Employee_ID", how="inner")
print("\nInner Join:\n", inner_join)

# OUTER JOIN (All records, missing values filled with NaN)
outer_join = pd.merge(employees, projects, on="Employee_ID", how="outer")
print("\nOuter Join:\n", outer_join)

# LEFT JOIN (All from employees, matching from projects)
left_join = pd.merge(employees, projects, on="Employee_ID", how="left")
print("\nLeft Join:\n", left_join)

# RIGHT JOIN (All from projects, matching from employees)
right_join = pd.merge(employees, projects, on="Employee_ID", how="right")
print("\nRight Join:\n", right_join)

# Save the joined datasets (Optional)
inner_join.to_csv("inner_join.csv", index=False)
outer_join.to_csv("outer_join.csv", index=False)
left_join.to_csv("left_join.csv", index=False)
right_join.to_csv("right_join.csv", index=False)

print("\nJoined datasets saved as CSV files.")

Inner Join:
    Employee_ID     Name Department  Salary Project  Budget
0          101    Alice         HR   50000       A   10000
1          103  Charlie         IT   55000       B   15000
2          105      Eva         HR   48000       C   12000

Outer Join:
    Employee_ID     Name Department   Salary Project   Budget
0          101    Alice         HR  50000.0       A  10000.0
1          102      Bob         IT  60000.0     NaN      NaN
2          103  Charlie         IT  55000.0       B  15000.0
3          104    David    Finance  52000.0     NaN      NaN
4          105      Eva         HR  48000.0       C  12000.0
5          106      NaN        NaN      NaN       D  18000.0
6          107      NaN        NaN      NaN       E  22000.0

Left Join:
    Employee_ID     Name Department  Salary Project   Budget
0          101    Alice         HR   50000       A  10000.0
1          102      Bob         IT   60000     NaN      NaN
2          103  Charlie         IT   55000       B  15000.0
3          104    David    Finance   52000     NaN      NaN
4          105      Eva         HR   48000       C  12000.0

Right Join:
    Employee_ID     Name Department   Salary Project  Budget
0          101    Alice         HR  50000.0       A   10000
1          103  Charlie         IT  55000.0       B   15000
2          105      Eva         HR  48000.0       C   12000
3          106      NaN        NaN      NaN       D   18000
4          107      NaN        NaN      NaN       E   22000

Joined datasets saved as CSV files.